<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.velogeo.cycle"
        version     = "1.0.0" >

    <!-- app properties -->
    <name>VeloGeo Cycle</name>
    <description>
        Track your cycle efforts
    </description>
    <author href="http://www.imaginesimplicity.com" email="tim@imaginesimplicity.com">
        Timothy Wood @codearachnid 
    </author>

    <!-- whitelist -->
    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <access origin="*.gstatic.com" />
    
    
    <!-- plugins -->
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.adobe.plugins.gaplugin" />
    <gap:plugin name="nl.x-services.plugins.toast" />


    <!-- preferences for app -->
    <preference name="phonegap-version" value="3.4.0" />
    <gap:platform name="android" />
    <gap:platform name="ios" />
    <!-- <preference name="target-device" value="universal"/> -->
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="false" />


    <!-- ios only prefs -->

    <!-- android only prefs -->

</widget>
